<% include partials/header %>

<div style="padding-left: 200px;">
<h1>Login!</h1>

<form action="/vendor/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login!">
</form>
</div>

<% include partials/footer %>
